{% extends "FullWeb/base.html" %}
{% load static %}
{% block content %}
<!-- Heading -->
<section class="page-section clearfix">
	<div class="container">
		<div class="intro">
			<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'FullWeb/img/Charity3.avif' %}" alt="">
			<div class="intro-text left-0 text-center bg-faded p-5 rounded">
				<h2 class="section-heading mb-4">
					<span style="color: white;" class="section-heading-upper">We can be protagonists</span>
					<span class="section-heading-lower">Social Causes</span>
				</h2>
				<p class="mb-3">In Eat! we want to put technology at the service of people with social needs, to connect with
					those who want to be the
					protagonists of a love story for others.
				</p>

			</div>
		</div>
	</div>
</section>



<!-- Message -->
<section class="page-section cta">
	<div class="container">
		<div class="row">
			<div class="col-xl-9 mx-auto">
				<div class="cta-inner text-center rounded">
					<h2 class="section-heading mb-4">
						<span class="section-heading-upper">A platform to help</span>
						<span class="section-heading-lower">connect with those who need your help</span>
					</h2>
					<p class="mb-0">We want to offer the most efficient way to communicate the needs of those nearby social
						causes, and connect with those
						who want to help to take advantage of resources in the most efficient way. A collaborative platform, where
						you can help
						even if you don't have money. Help those who need your time or skills</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}